<div style="display: flex;margin: 20px 0;color:#fff">
            <div style="display: flex;margin-right: 16px">
              <div class="middle-cmt_img" style="margin-right: 10px;">
                <% if comment.user.image.present? %>
                  <%= image_tag(comment.user.image, style: "width: 40px;height: 40px;border-radius: 50%;" ) %>
                <% else %>
                  <img src="https://static.vecteezy.com/system/resources/thumbnails/009/292/244/small/default-avatar-icon-of-social-media-user-vector.jpg", style="width: 40px;height: 40px;border-radius: 50%;" />
                <% end %>
              </div>
              <div class="middle-cmt_info">
                <div class="middle-cmt_info_name" style="font-weight: 900;">
                  <%= comment.user.name %>
                </div>
                <div class="middle-cmt_info_time" style="color: #71767B;">
                  <%= time_ago_in_words(comment.created_at) %>
                </div>
              </div>
            </div>
            <div class="middle-cmt_comment" style="margin-top: 2px;">
              <div style="font-family: 'Roboto', sans-serif;">
                <%= comment.content %>
              </div>
            </div>
          </div>
