<div class="main" style="height: 100%;overflow:hidden">
  <div class="w1400" style="padding:20px;justify-content:space-between;align-items:center;height:100%;display:flex">
    <div class="logo" style='padding:20px;flex:1'>
      <%= image_tag('x.svg', width: '400px', style: 'object-fit:cover') %>
    </div>

    <div style="flex:1;right:280px;padding:20px;max-with:760px">
      <h1 style="font-family: 'Roboto Condensed', sans-serif;font-bold:900;font-size:5rem">Đang diễn ra ngay </br> bây giờ</h1>
  
      <p style="font-family: 'Roboto Condensed', sans-serif;color:#fff;font-size:2rem;font-weight:900;margin: 50px 0">Tham gia ngay:</p>
      
      <%= link_to signup_path, style: 'color:#fff;text-decoration:none' do %>
        <div style="display:flex;justify-content:center;align-items:center;background-color:rgb(29, 155, 240);height:50px;border-radius:20px;cursor:pointer;margin-bottom:20px;font-weight:900;width:300px">
          Tạo tài khoản 
        </div>
      <% end %>

      <%= link_to login_path, style: 'color:#fff;text-decoration:none' do %>
        <div style="display:flex;justify-content:center;align-items:center;background-color:rgb(29, 155, 240);height:50px;border-radius:20px;cursor:pointer;font-weight:900;width:300px">
          Đăng nhập  
        </div>
      <% end %>
    </div>
  </div>
</div>
