<%= form_with model: @post, class: 'right_form' do |f| %>
  <div class="right_form-img" style="display: flex;align-items: center;background-size: cover;">
    <div class="img_item">
      <% if current_user.image.present? %>
        <%= image_tag url_for(current_user.image)%>
      <% else %>
        <img src="https://static.vecteezy.com/system/resources/thumbnails/009/292/244/small/default-avatar-icon-of-social-media-user-vector.jpg" />
      <% end %>
    </div>
      <%= f.text_field :content, class: 'inp_text', placeholder: 'What do you think ?' %>
  </div>
  <div class="button">
    <div class="label">
      <label for="inp_img" class="label"><i class='bx bxs-image-add' ></i></label>
      <label for="" class="label"><i class='bx bxs-file-gif'></i></label>
      <label for="" class="label"><i class='bx bx-list-ul'></i></label>
      <label for="" class="label"><i class='bx bxs-face' ></i></label>
      <%= f.file_field :image, id: 'inp_img', hidden: true %>
    </div>
      <button class="btn">POST</button>
  </div>
<% end %>
