<%= javascript_pack_tag 'like_ajax' %>
<div class="main">
  <div class="w1400">
    <%= render 'shared/navbar' %>

    <div class="right">
      <div class="right_center">
        <%= render 'form' %>
      </div>

        <%= render @posts if @posts %>
    </div>
  </div>
</div>
